global
    maxconn 10000
    daemon
    log stdout format raw local0 debug

    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private
    
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    timeout connect 3000
    timeout client  30000
    timeout server  30000

{% for port in loadbalancer_api_ports %}

frontend api_fe_{{ port }}
    bind :{{ port }}
    default_backend api_be_{{ port }}
    mode tcp

backend api_be_{{ port }}
    balance roundrobin
    mode tcp
    server bootstrap {{ bootstrap_ip }}:{{ port }} check
{% for ip in controlplane_ips %}
    server {{ ip }} {{ ip }}:{{ port }} check
{% endfor %}

{% endfor %}

{% for port in loadbalancer_ingress_ports %}

frontend ingress_traffic_fe_{{ port }}
    bind :{{ port }}
    default_backend ingress_traffic_be_{{ port }}
    mode tcp

backend ingress_traffic_be_{{ port }}
    balance roundrobin
    mode tcp
{% if (worker_ips | count) > 0 %}

{% for ip in worker_ips %}
    server {{ ip }} {{ ip }}:{{ port }} check
{% endfor %}

{% else %}

{% for ip in controlplane_ips %}
    server {{ ip }} {{ ip }}:{{ port }} check
{% endfor %}
{% endif %}

{% endfor %}

frontend stats
    mode http
    bind *:8080
    stats enable
    stats uri /
    stats refresh 10s
