global
        maxconn 10000
        daemon
        log stdout format raw local0 debug

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
        timeout connect 3000
        timeout client  30000
        timeout server  30000

frontend k8s_api_fe
    bind :6443
    default_backend k8s_api_be
    mode tcp

backend k8s_api_be
    balance source
    mode tcp
    server      bootstrap {{ bootstrap_ip }}:6443 check
    server      cp1 {{ cp1_ip }}:6443 check
    server      cp2 {{ cp2_ip }}:6443 check
    server      cp3 {{ cp3_ip }}:6443 check

frontend machine_config_server_fe
    bind :22623
    default_backend machine_config_server_be
    mode tcp

backend machine_config_server_be
    balance source
    mode tcp
    server      bootstrap {{ bootstrap_ip }}:22623 check
    server      cp1 {{ cp1_ip }}:22623 check
    server      cp2 {{ cp2_ip }}:22623 check
    server      cp3 {{ cp3_ip }}:22623 check
frontend http_ingress_traffic_fe
    bind :80
    default_backend http_ingress_traffic_be
    mode tcp

backend http_ingress_traffic_be
    balance source
    mode tcp
    server      cp1 {{ cp1_ip }}:80 check
    server      cp2 {{ cp2_ip }}:80 check
    server      cp3 {{ cp3_ip }}:80 check

frontend https_ingress_traffic_fe
    bind *:443
    default_backend https_ingress_traffic_be
    mode tcp

backend https_ingress_traffic_be
    balance source
    mode tcp
    server      cp1 {{ cp1_ip }}:443 check
    server      cp2 {{ cp2_ip }}:443 check
    server      cp3 {{ cp3_ip }}:443 check

frontend stats
    mode http
    bind *:8080
    stats enable
    stats uri /
    stats refresh 5s
