apiVersion: v1
baseDomain: localdomain
metadata:
  name: okd
compute:
  - name: worker
    replicas: {{ worker_replicas }}
    platform: {}
controlPlane:
  name: master
  replicas: {{ controlplane_replicas }}
  platform: {}
platform:
  none: {}
pullSecret: {{ okd_pull_secret }} # https://console.redhat.com/openshift/install/pull-secret
sshKey: {{ ssh_key }}
networking:
  networkType: OVNKubernetes
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  serviceNetwork:
    - 172.30.0.0/16
  machineNetwork:
    - cidr: 192.168.1.0/24
