apiVersion: v1
baseDomain: localdomain
metadata:
  name: okd
compute:
  - name: worker
    replicas: {{ worker_ips | count }}
    platform: {}
controlPlane:
  name: master
  replicas: {{ controlplane_ips | count }}
  platform: {}
platform:
  none: {}
pullSecret: '{{ lookup('file', 'pull-secret.txt') }}'
sshKey: '{{ ssh_key }}'
networking:
  networkType: OVNKubernetes
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  serviceNetwork:
    - 172.30.0.0/16
  machineNetwork:
    - cidr: 192.168.1.0/24
